.boxCvicenie {
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-color: rgba(34, 54, 115, 1);
    border-style: solid;
    border-width: 4px;
    background-color: #fff;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: #000;
    text-align: center;
    
    font-size: 16px;
    padding: 10px 26px;
    /*width: 145px;*/
  }
  @media (max-width: 1024px) {
    .boxCvicenie {
      font-size: 14px;
      padding: 10px 24px;
      }
    }

  .boxCvicenie:hover {
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-color: #FEB81C;
    border-style: solid;
    border-width: 4px;
    background-color:#FEB81C;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    
    color:  #ffffff; 
    text-align: center;

    font-size: 16px;
    padding: 10px 26px;
  } @media (max-width: 1024px) {
    .boxCvicenie:hover {
      font-size: 14px;
      padding: 10px 24px;
      }
    }

  .centrovanieVRiadku {
    justify-content: center;
    align-self: stretch;
    display: flex;
    gap: 10px;
    
  }
  .pismoBoxTenke {
    font-family: Open Sans, sans-serif;
    font-weight: 600;
  }
  
  .pismoBoxHrube {
    font-family: Open Sans, sans-serif;
    font-weight: 700;

  }