div {
    align-items: center;
}
  
  .pozadieHL1 {
    background-color: #223673;
    top: 0;
    position: fixed;
  
    display: flex;
    justify-content: space-between;
  
    width: 100%;
    height: 65px;
    flex-shrink: 0;

  }
  
  /*1rem = 16px*/
  .h1 {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 1.25rem; /*24px*/
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  
    position: center;
    padding-right: 35px;
  }
  
  .unizaLogo {
    margin-left: 20px;
  
    height: 54px;
  }
  
  /*random pridanie komentu*/
