.divPodListami { 
  display: flex; 
  flex-direction: row;
  
  justify-content: center; /* Center the flex items (centered-div) horizontally */
  align-items: flex-start; /*Ylonova os*/
  padding-top: 2%;
  
  /*margin-top: 70px;*/
  gap: 20px;
  border: #ff0000 5px dotted;
  /*margin-top: 125px;*/

  margin-left: 8%;
  margin-right: 8%;

  width: 84vw;

  flex-wrap: wrap;
  
  position: fixed;
  top: 125px;
  translate: auto -125px;

  /*padding-left: 1%;
  padding-right: 1%;*/
  }

  @media (max-width: 700px) {
    .divPodListami {
      display: flex; 
      flex-direction: row;
      
      justify-content: center; /* Center the flex items (centered-div) horizontaly */
      align-items: flex-start; /*yva os*/
      align-content: flex-start; /*aby to bolo hore?*/
      padding-top: 2%;
      
      /*margin-top: 70px;*/
      gap: 16px;
      border: #ff0000 5px dotted;
      /*margin-top: 125px;*/
    
      margin-left: 5%;
      margin-right: 6%;
    
      width: 88vw;
      height: 84vh;
      overflow-y:scroll;

    }
  }

  /*
  flex-direction: column;
  justify-content: flex-start; /* Center the flex items (centered-div) vertically */
  /*align-items: center; /*Xva os*/