/*.boxDosiahnuteVysledkyColumn {
  display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    
    width: 100%;
}*/

/*Obrazok a nadpis/podnadpis*/
.obrazokNadpisPodnadpisHodnotenie {
      display: flex;
      flex-direction: row;
      gap: 10px;
      color: #000;
      align-items: center;
      width: 95%;
  }
  @media (max-width: 700px) {
    .obrazokNadpisPodnadpisHodnotenie {
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 8px;

      width: 100%;
      }
    }

  .imgHodnotenie {
    object-fit: auto;
    object-position: center;
    width: 7.5rem;
  }

  @media (max-width: 1111px) {
    .imgHodnotenie {
      object-fit: auto;
      object-position: center;
      width: 6.5rem;
      }
    }

  .hodnotenieTextDokopy {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    padding: 0 1rem;
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  @media (max-width: 700px) {
    .hodnotenieTextDokopy {
      align-self: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      max-width: 100%;

      /*align-items: center;*/
      }
    }

  .hodnotenieNadpis {
    text-align: center;
    font: 700 1.875rem Open Sans, sans-serif; /*30*/
    max-width: 100%;
  } 
  @media (max-width: 1111px) {
    .hodnotenieNadpis {
    text-align: center;
    font: 700 1.625rem Open Sans, sans-serif; /*26*/
    max-width: 100%;
    }
  } 

  .hodnoteniePodnadpis {
    margin-top: 8px;
    font: 400 1.25rem Open Sans, sans-serif; /*18px*/
    max-width: 100%;

  }
  @media (max-width: 1111px) {
    .hodnoteniePodnadpis {
     margin-top: 8px;
    font: 400 1rem Open Sans, sans-serif; /*16px*/
    max-width: 100%;
    }
  }




/*tabulka*/
.tabulkaDosuhnuteBody {
    display: flex;
    flex-direction: column;
    width: 100%;
  } 

  /*Farebna cast --------------------------------------------------------*/
  /*Oranzovy riadok -----------------------------------------------------*/  
  .hodnotenieOranzovyRiadok {
    justify-content: space-evenly;
    background-color: rgba(254, 184, 28, 0.22);
    display: flex;

    gap: 20px;
    padding: 10px 3%;
    white-space: initial;
    flex-wrap: wrap;

    max-width: 100%;

  }
  @media (max-width: 1111px) {
    .hodnotenieOranzovyRiadok {
      flex-wrap: wrap;
      white-space: initial;
      padding: 9px 3%;
      justify-content: center;
      gap: 16px;
      max-width: 100%;
    }
  }
  @media (max-width: 441px) {
    .hodnotenieOranzovyRiadok {
      flex-wrap: wrap;
      white-space: initial;
      padding: 9px 3%;
      justify-content: center;
      gap: 14px;
      max-width: 100%;
    }
  }
  /*Oranzovy riadok -----------------------------------------------------*/  
  
  /*Zeleny riadok ------------------------------------------------------*/  
   .hodnotenieZelenyRiadok {
    justify-content: space-evenly;
    background-color: #c5ffdc;
    display: flex;

    gap: 20px;
    padding: 10px 3%;
    white-space: initial;
    flex-wrap: wrap;

    max-width: 100%;

  }
  @media (max-width: 1111px) {
    .hodnotenieZelenyRiadok {
      flex-wrap: wrap;
      white-space: initial;
      padding: 9px 3%;
      justify-content: center;
      gap: 16px;
      max-width: 100%;
    }
  }
  @media (max-width: 441px) {
    .hodnotenieZelenyRiadok {
      flex-wrap: wrap;
      white-space: initial;
      padding: 9px 3%;
      justify-content: center;
      gap: 14px;
      max-width: 100%;

    }
  }
  /*Zeleny riadok ------------------------------------------------------*/  

  /*Farebny riadok - Text ---------------------------------------------*/  
  .hodnotenieTextZaciatokFarba {
    font-family: Open Sans, sans-serif;
    font-size: 1.125rem; /*18px*/
    color: #000;
    font-weight: 700;
    width: 155px;
    text-align: start;
  }
  @media (max-width: 1111px) {
    .hodnotenieTextZaciatokFarba {
    font-family: Open Sans, sans-serif;
    color: #000;
    font-weight: 600;
    
    width: 100px;
    font-size: 1rem; /*16px*/
    text-align: start;
    }
  }
  @media (max-width: 750px) {
    .hodnotenieTextZaciatokFarba {
    font-family: Open Sans, sans-serif;
    color: #000;
    font-weight: 600;
    
    width: 77px;
    font-size: 0.875rem; /*14px*/
    text-align: start;
    }
  }
  @media (max-width: 441px) {
    .hodnotenieTextZaciatokFarba {
    font-family: Open Sans, sans-serif;
    color: #000;
    font-weight: 600;
    
    width: 60px;
    font-size: 0.75rem; /*12px*/
    text-align: start;
    }
  }
  @media (max-width: 341px) {
    .hodnotenieTextZaciatokFarba {
    font-family: Open Sans, sans-serif;
    color: #000;
    font-weight: 600;
    
    width: 60px;
    font-size: 0.75rem; /*12px*/
    text-align: center;
    }
  }

  .hodnotenieTextFarba {
    font-family: Open Sans, sans-serif;
    font-size: 1.125rem; /*18px*/
    color: #000;
    font-weight: 700;
    width: 155px;
    text-align: center;
  }
  @media (max-width: 1111px) {
    .hodnotenieTextFarba {
    font-family: Open Sans, sans-serif;
    color: #000;
    font-weight: 600;
    
    width: 100px;
    font-size: 1rem; /*16px*/
    text-align: center;
    }
  }
  @media (max-width: 750px) {
    .hodnotenieTextFarba {
    font-family: Open Sans, sans-serif;
    color: #000;
    font-weight: 600;
    
    width: 77px;
    font-size: 0.875rem; /*14px*/
    text-align: center;
    }
  }
  @media (max-width: 441px) {
    .hodnotenieTextFarba {
    font-family: Open Sans, sans-serif;
    color: #000;
    font-weight: 600;
    
    width: 60px;
    font-size: 0.75rem; /*12px*/
    text-align: center;
    }
  }
  /*Farebny riadok - Text ---------------------------------------------*/  
  /*Farebna cast --------------------------------------------------------*/

  /*Biela cast --------------------------------------------------------*/  
    .hodnotenieRiadokTabulka {
    justify-content: space-evenly;
    display: flex;

    gap: 20px;
    padding: 10px 3%;
    white-space: initial;
    flex-wrap: wrap;

    max-width: 100%;

  }
  @media (max-width: 1111px) {
    .hodnotenieRiadokTabulka {
      flex-wrap: wrap;
      white-space: initial;
      padding: 9px 3%;
      justify-content: center;
      gap: 16px;
      max-width: 100%;
    }
  }
  @media (max-width: 441px) {
    .hodnotenieRiadokTabulka {
      flex-wrap: wrap;
      white-space: initial;
      padding: 9px 3%;
      justify-content: center;
      gap: 14px;
      max-width: 100%;

    }
  }
  
  .textRiadokZaciatokHodnotenie {
    font-family: Open Sans, sans-serif;
    font-size: 1rem; /*16px*/
    color: #000;
    width: 155px;
    text-align: start;
  }
  @media (max-width: 1111px) {
    .textRiadokZaciatokHodnotenie {
    font-family: Open Sans, sans-serif;
    color: #000;
    
    width: 100px;
    font-size: 0.875rem; /*14px*/
    text-align: start;
    }
  }
  @media (max-width: 750px) {
    .textRiadokZaciatokHodnotenie {
    font-family: Open Sans, sans-serif;
    color: #000;
    
    width: 77px;
    font-size: 0.75rem; /*12px*/
    text-align: start;
    }
  }
  @media (max-width: 441px) {
    .textRiadokZaciatokHodnotenie {
    font-family: Open Sans, sans-serif;
    color: #000;
    
    width: 60px;
    font-size: 0.688rem; /*11px*/
    text-align: start;
    }
  }
  @media (max-width: 341px) {
    .textRiadokZaciatokHodnotenie {
      font-family: Open Sans, sans-serif;
      color: #000;
      width: 60px;
      font-size: 0.688rem; /*11px*/

      text-align: center;
      }
    }

  .textRiadokHodnotenie{
    font-family: Open Sans, sans-serif;
    font-size: 1.125rem; /*18px*/

    text-align: center;
    width: 155px;
  }
  @media (max-width: 1111px) {
    .textRiadokHodnotenie {
    font-family: Open Sans, sans-serif;
    color: #000;

    font-size: 0.875rem; /*14px*/
    width: 120px;
    text-align: center;
    }
  }

  .textRiadokHodnotenie {
    font-family: Open Sans, sans-serif;
    font-size: 1rem; /*16px*/
    color: #000;
    width: 155px;
    text-align: center;
  }
  @media (max-width: 1111px) {
    .textRiadokHodnotenie {
    font-family: Open Sans, sans-serif;
    color: #000;
    
    width: 100px;
    font-size: 0.875rem; /*14px*/
    text-align: center;
    }
  }
  @media (max-width: 750px) {
    .textRiadokHodnotenie {
    font-family: Open Sans, sans-serif;
    color: #000;
    
    width: 77px;
    font-size: 0.75rem; /*12px*/
    text-align: center;
    }
  }
  @media (max-width: 441px) {
    .textRiadokHodnotenie {
    font-family: Open Sans, sans-serif;
    color: #000;
    
    width: 60px;
    font-size: 0.688rem; /*11px*/
    text-align: center;
    }
  }
  /*Biela cast --------------------------------------------------------*/  




    