/*.boxDosiahnuteVysledkyColumn {
  display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    
    width: 100%;
}*/

/*Obrazok a nadpis/podnadpis*/
.obrazokNadpisPodnadpisHodnotenie {
      display: flex;
      flex-direction: row;
      gap: 10px;
      color: #000;
      align-items: center;
      width: 95%;
  }
  @media (max-width: 700px) {
    .obrazokNadpisPodnadpisHodnotenie {
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 8px;

      }
    }

  .imgHodnotenie {
    object-fit: auto;
    object-position: center;
    width: 7.5rem;
  }

  @media (max-width: 1100px) {
    .imgHodnotenie {
      object-fit: auto;
      object-position: center;
      width: 6.5rem;
      }
    }

  .hodnotenieTextDokopy {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    padding: 0 1.25rem;
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  @media (max-width: 700px) {
    .hodnotenieTextDokopy {
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      max-width: 100%;
      }
    }

  .hodnotenieNadpis {
    text-align: center;
    font: 700 1.875rem Open Sans, sans-serif; /*30*/
    max-width: 100%;
  } 

  @media (max-width: 1100px) {
    .hodnotenieNadpis {
    text-align: center;
    font: 700 1.625rem Open Sans, sans-serif; /*26*/
    max-width: 100%;
    }
  } 

  .hodnoteniePodnadpis {
    margin-top: 8px;
    font: 400 1.25rem Open Sans, sans-serif; /*18px*/
    max-width: 100%;

  }
  @media (max-width: 1100px) {
    .hodnoteniePodnadpis {
     margin-top: 8px;
    font: 400 1rem Open Sans, sans-serif; /*16px*/
    max-width: 100%;
    }
  }


/*tabulka*/
.tabulkaDosuhnuteBody {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  } 
  @media (max-width: 1150px) {
    .tabulkaDosuhnuteBody {
      display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    }
  }

  /*Oranzova cast --------------------------------------------------------*/
  .hodnotenieOranzovyRiadok {
    justify-content: space-evenly;
    background-color: rgba(254, 184, 28, 0.22);
    display: flex;

    gap: 20px;
    padding: 10px 80px;
    white-space: nowrap;

    flex-wrap: wrap;
  }
  @media (max-width: 1100px) {
    .hodnotenieOranzovyRiadok {
      flex-wrap: wrap;
      white-space: initial;
      padding: 9px 20px;
      justify-content: center;
      gap: 16px;
    }
  }

  .hodnotenieTextOranzovyZaciatok {
    font-family: Open Sans, sans-serif;
    font-size: 1.125rem; /*18px*/
    color: #000;
    font-weight: 700;
    width: 155px;
    text-align: start;
  }
  @media (max-width: 1111px) {
    .hodnotenieTextOranzovyZaciatok {
    font-family: Open Sans, sans-serif;
    color: #000;
    font-weight: 700;
    width: 120px;

    font-size: 1rem; /*16px*/
    text-align: start;
    }
  }
  @media (max-width: 752px) {
    .hodnotenieTextOranzovyZaciatok {
    font-family: Open Sans, sans-serif;
    color: #000;
    font-weight: 700;
    width: 120px;
    font-size: 1rem; /*16px*/
    
    text-align: center;
    }
  }

  .hodnotenieTextOranzovy {
    font-family: Open Sans, sans-serif;
    font-size: 1.125rem; /*18px*/
    color: #000;
    font-weight: 700;
    width: 155px;
    text-align: center;
  }
  @media (max-width: 1111px) {
    .hodnotenieTextOranzovy {
    font-family: Open Sans, sans-serif;
    font-size: 1rem; /*16px*/
    color: #000;
    font-weight: 700;
    width: 120px;
    text-align: center;
    }
  }
  /*Oranzova cast --------------------------------------------------------*/

  /*Biela cast --------------------------------------------------------*/  
  .hodnotenieRiadokTabulka {
    justify-content: space-evenly;
    display: flex;

    margin-top: 20px;
    gap: 20px;
    
    padding: 0px 80px;
  
    white-space: nowrap;
    flex-wrap: wrap;
  }
    @media (max-width: 1100px) {
    .hodnotenieRiadokTabulka {
      flex-wrap: wrap;
      white-space: initial;
      padding: 0px 20px;
      justify-content: center;
      gap: 16px;
    }
  }
  
  .textRiadokZaciatokHodnotenie{
    font-family: Open Sans, sans-serif;
    font-size: 1.125rem; /*18px*/
    
    text-align: start;
    width: 155px;
  }
  @media (max-width: 1111px) {
    .textRiadokZaciatokHodnotenie {
    font-family: Open Sans, sans-serif;
    color: #000;

    font-size: 0.875rem; /*14px*/
    text-align: start;

    width: 120px;
    }
  }
  @media (max-width: 752px) {
    .textRiadokZaciatokHodnotenie {
      font-family: Open Sans, sans-serif;
      color: #000;
  
      font-size: 0.875rem; /*14px*/
      width: 120px;

      text-align: center;
    }
  }

  .textRiadokHodnotenie{
    font-family: Open Sans, sans-serif;
    font-size: 1.125rem; /*18px*/

    text-align: center;
    width: 155px;
  }
  @media (max-width: 1111px) {
    .textRiadokHodnotenie {
    font-family: Open Sans, sans-serif;
    color: #000;

    font-size: 0.875rem; /*14px*/
    width: 120px;
    text-align: center;
    }
  }
  /*Biela cast --------------------------------------------------------*/  

  /*Zelena cast --------------------------------------------------------*/  
  .hodnotenieZelenyRiadok {
    justify-content: space-evenly;
    background-color: #c5ffdc;
    display: flex;

    margin-top: 20px;
    gap: 16px;
    font-weight: 700;
    white-space: nowrap;
    padding: 10px 80px;

    flex-wrap: wrap;
  }
  @media (max-width: 1100px) {
    .hodnotenieZelenyRiadok {
      flex-wrap: wrap;
      white-space: initial;
      padding: 9px 20px;
      max-width: 100%;
      justify-content: center;
    }
  }

  .hodnotenieTextZelenyZaciatok {
    font-family: Open Sans, sans-serif;
    font-size: 1.125rem; /*18px*/
    color: #000;
    font-weight: 700;
    width: 155px;
    text-align: start;
  } 
  @media (max-width: 1111px) {
    .hodnotenieTextZelenyZaciatok {
    font-family: Open Sans, sans-serif;
    color: #000;
    font-weight: 700;

    font-size: 1rem; /*16px*/
    text-align: start;
    width: 120px;
    }
  }
  @media (max-width: 752px) {
    .hodnotenieTextZelenyZaciatok {
    font-family: Open Sans, sans-serif;
    color: #000;
    font-weight: 700;
    font-size: 1rem; /*16px*/
    width: 120px;
    
    text-align: center;
    }
  }

  .hodnotenieTextZeleny {
    font-family: Open Sans, sans-serif;
    font-size: 1.125rem; /*18px*/
    color: #000;
    font-weight: 700;
    width: 155px;
    text-align: center;
  }
  @media (max-width: 1111px) {
    .hodnotenieTextZeleny {
    font-family: Open Sans, sans-serif;
    font-size: 1rem; /*16px*/
    color: #000;
    font-weight: 700;
    width: 120px;
    text-align: center;
    }
  }

  /*Zelena cast --------------------------------------------------------*/  



    