.obrazokNadpisPodnadpisMaterialy {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: #000;
    align-items: center;
    width: 95%;

    margin-bottom: 1%;
}
@media (max-width: 991px) {
  .obrazokNadpisPodnadpisMaterialy {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;

    margin-bottom: 1%;
    margin-top: 1%;
    }
  }

  .imgStudijneMaterialy {
    object-fit: auto;
    object-position: center;
    width: 7rem;
  }
  @media (max-width: 991px) {
    .imgStudijneMaterialy {
      object-fit: auto;
      object-position: center;
      width: 6rem;
      }
    }

  .textDokopyMaterialy {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    padding: 0 1.25rem;
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }

  .nadpisMaterialy {
    text-align: center;
    font: 700 1.875rem Open Sans, sans-serif; /*30*/
    max-width: 100%;
  }
  @media (max-width: 991px) {
    .nadpisMaterialy {
      text-align: center;
      font: 700 1.625rem Open Sans, sans-serif; /*26*/
      max-width: 100%;
      }
    }

  .podnadpisMaterialy {
    margin-top: 10px;
    font: 400 1.25rem Open Sans, sans-serif;
    max-width: 1045px;
  }
  @media (max-width: 991px) {
    .podnadpisMaterialy {
      font: 400 1rem Open Sans, sans-serif; /*16px*/
      max-width: 100%;
      }
    }


/*tabulka --------------------------------------------------------------------*/ 
.tabulkaSLinkami {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2%;
  }
 
  /*Oranzova cast --------------------------------------------------------*/
  .oranzovyRiadokMaterialy {
    justify-content: space-evenly;
    background-color: rgba(254, 184, 28, 0.22);
    display: flex;

    white-space: initial;
    flex-wrap: wrap;

    max-width: 100%;
    padding: 10px 2%;
    gap: 16px;
  }
  @media (max-width: 564px) {
    .oranzovyRiadokMaterialy {
    justify-content: space-evenly;
    background-color: rgba(254, 184, 28, 0.22);
    display: flex;

    white-space: initial;
    
    padding: 10px 2.5%;
    max-width: 95%;
    gap: 8px;
    flex-wrap: wrap;
    }
  }
 
  .materialyTextOranzovyZaciatok {
    font-family: Open Sans, sans-serif;
    font-size: 1.125rem; /*18px*/
    color: #000;
    font-weight: 700;
    width: 252px;
    text-align: start;

    /*border: #000 dotted 2px;*/
  }
  @media (max-width: 978px) {
    .materialyTextOranzovyZaciatok {
    font-family: Open Sans, sans-serif;
    color: #000;
    font-weight: 700;
    width: 120px;

    font-size: 1rem; /*16px*/
    text-align: start;
    }
  }
  @media (max-width: 564px) {
    .materialyTextOranzovyZaciatok {
    font-family: Open Sans, sans-serif;
    color: #000;
    font-weight: 600;
    width: 100px;

    font-size: 0.875rem; /*14px*/
    text-align: start;
    }
  }
  @media (max-width: 406px) {
    .materialyTextOranzovyZaciatok {
    font-family: Open Sans, sans-serif;
    color: #000;
    font-weight: 600;
    width: 100px;

    font-size: 0.875rem; /*14px*/
    text-align: center;
    }
  }
  
  .materialyTextOranzovy {
    font-family: Open Sans, sans-serif;
    font-size: 1.125rem; /*18px*/
    color: #000;
    font-weight: 700;
    width: 110px;
    text-align: center;

    /*border: #000 dotted 2px;*/
  }
  @media (max-width: 978px) {
    .materialyTextOranzovy {
    font-family: Open Sans, sans-serif;
    color: #000;
    font-weight: 700;
    width: 85px;

    font-size: 1rem; /*16px*/
    text-align: center;
    }
  }
  @media (max-width: 564px) {
    .materialyTextOranzovy {
    font-family: Open Sans, sans-serif;
    color: #000;
    font-weight: 600;
    width: 65px;

    font-size: 0.875rem; /*14px*/
    text-align: center;
    }
  }

  /*Oranzova cast --------------------------------------------------------*/

  /*Biela cast --------------------------------------------------------*/
  .riadokTabulkaMaterialy {
    justify-content: space-evenly;
    display: flex;

    white-space: initial;
    flex-wrap: wrap;

    max-width: 100%;
    padding: 5px 2%;
    gap: 16px;
  }
  @media (max-width: 564px) {
    .riadokTabulkaMaterialy {
    justify-content: space-evenly;
    display: flex;
    white-space: initial;
    
    padding: 10px 2.5%;
    max-width: 95%;
    gap: 8px;
    flex-wrap: wrap;
    }
  }

  .materialyTextRiadokZaciatok{
    font-family: Open Sans, sans-serif;
    font-size: 1rem; /*16px*/
    
    width: 252px;
    text-align: start;
    
    /*border: #000 dotted 2px;*/
  }
  @media (max-width: 978px) {
    .materialyTextRiadokZaciatok {
    font-family: Open Sans, sans-serif;
    color: #000;
    width: 120px;

    font-size: 0.875rem; /*14px*/
    text-align: start;
    }
  }
  @media (max-width: 564px) {
    .materialyTextRiadokZaciatok {
    font-family: Open Sans, sans-serif;
    color: #000;
    width: 100px;

    font-size: 0.75rem; /*12px*/
    text-align: start;
    }
  }
  @media (max-width: 406px) {
    .materialyTextRiadokZaciatok {
      font-family: Open Sans, sans-serif;
      color: #000;
      width: 100px;
  
      font-size: 0.75rem; /*12px*/
      text-align: center;
      }
    }

  .materialyTextRiadok{
    font-family: Open Sans, sans-serif;

    text-align: center;
    text-decoration: underline;

    font-size: 1rem; /*16px*/
    width: 110px;
    /*border: #000 dotted 2px;*/
  }
  @media (max-width: 978px) {
    .materialyTextRiadok {
      font-family: Open Sans, sans-serif;

      text-align: center;
      text-decoration: underline;
  
      font-size: 0.875rem; /*14px*/
      width: 85px;
    }
  }
  @media (max-width: 564px) {
    .materialyTextRiadok {
      font-family: Open Sans, sans-serif;

      text-align: center;
      text-decoration: underline;
  
      font-size: 0.75rem; /*12px*/
      width: 65px;
    }
  }

  .materialyTextRiadok:hover{
    font-family: Open Sans, sans-serif;
    font-size: 1rem; /*16px*/
    font-weight: 700;
    
    width: 110px;
    text-align: center;

    color: #223673;
    text-decoration: underline;
  }
  @media (max-width: 978px) {
    .materialyTextRiadok:hover {
      font-family: Open Sans, sans-serif;
      font-weight: 700;
      text-align: center;
      text-decoration: underline;
  
      font-size: 0.875rem; /*14px*/
      width: 85px;
      color: #223673;
    }
  }
  @media (max-width: 564px) {
    .materialyTextRiadok:hover  {
      font-family: Open Sans, sans-serif;
      font-weight: 700;
      text-align: center;
      text-decoration: underline;
  
      font-size: 0.75rem; /*12px*/
      width: 65px;
      color: #223673;
    }
  }
  
  .materialyLinkFarba {
    font-family: Open Sans, sans-serif;
    font-weight: 600;

    width: 110px;
    text-align: center;
  }
  @media (max-width: 978px) {
    .materialyLinkFarba {
    font-family: Open Sans, sans-serif;
    font-weight: 600;

    width: 85px;
    text-align: center;
    }
  }
  @media (max-width: 564px) {
    .materialyLinkFarba {
    font-family: Open Sans, sans-serif;
    font-weight: 600;

    width: 65px;
    text-align: center;
    }
  }

/*Biela cast --------------------------------------------------------*/
