.zarovanieVelkyObrazok {
  display: flex;
  flex-direction: column;
  height: fit-content;

  width: max-content;  
}

.boxProfilVybrateCvicenieAtd {
  border-radius: 10px;
  background-color: rgba(41, 41, 41, 0.03);
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 20px;

}
@media (max-width: 1024px) {
  .boxProfilVybrateCvicenieAtd {
    width: 95%;
    margin-left: 1%;
    margin-right: 1%;
    gap: 14px;
  }
}

.menoStudenta {
  display: flex;
  color: #000;
  font-weight: 700;
  font-family: Open Sans, sans-serif;
  font-size: 20px;

  text-align:center;
}
@media (max-width: 1024px) {
  .menoStudenta {
    font-size: 1rem;
  }
}

.zmenyNastaveniaRiadok {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  width: 90%;

}@media (max-width: 1024px) {
  .zmenyNastaveniaRiadok {
    gap: 12px;

  }
}

.zmenyNastaveniaIkonkaLink {
  display: flex;

  gap: 8px;
  object-position: center;
  align-self: start;

  text-align: center;
  font-weight: 400;

  flex-wrap: nowrap;
  font-size: 16px;
}
@media (max-width: 1024px) {
  .zmenyNastaveniaIkonkaLink {
    font-size: 14px;
    gap: 6px;
  }
}

.zmenaPismoAndLink:hover {
  font-family: Open Sans, sans-serif;
  width: 100%;
  text-align: start;

  color: #223673;
  font-weight: 400;
}

.zmenaPismoAndLink {
  font-family: Open Sans, sans-serif;
  text-decoration-line: underline;
  width: 100%;
  text-align: start;
  width: max-content;
}

.zmenaImg {
    object-fit: auto;
    object-position: center;
    width: 16px;
}

.vybrateCvicenieRiadok {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  flex-wrap: nowrap;
  max-width: 100%;
  gap: 16px;
}
@media (max-width: 1024px) {
  .vybrateCvicenieRiadok {
    flex-wrap: wrap;
    width: 95%;
    gap: 10px;

  }
}

.textVybrateCv {
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: max-content;
}
@media (max-width: 1024px) {
  .zmenyNastaveniaRiadok {
    font-size: 16px;
    font-weight: 600;

  }
}

.velkyObrazok {
  object-fit: auto;
  object-position: center;
  width: 270px;
  align-self: center;
  margin-top: 16px;
  max-width: 100%;
}
@media (max-width: 1024px) {
  .velkyObrazok {
    width: 190px;
    margin-bottom: 8px;
  }
}

/*--------------------------------------------------------------------*/
/*.boxDosiahnuteVysledkyColumn {
  display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: stretch;

}*/

  /*.zarovanieSBoxomOznamov {
    background-color: #ffffff;
    display: flex;

    flex-direction: row;
    align-items: start; 
    justify-content: center; 

    width: 100%;
    gap: 30px;

    padding-left: 50%;
    margin-top: 50px;
    

    border: #080880 2px dotted;
  }*/

/*
    padding: 25px 50px 75px 100px;
        top padding is 25px
        right padding is 50px
        bottom padding is 75px
        left padding is 100px

        align-items: start; Cross-axis - do hore dolu 
    justify-content: center; Main-axis <-----> this way
    */

  .boxOznamyCentrovanieSTextom {
    border-radius: 10px;
    background-color: rgba(41, 41, 41, 0.03);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;

    width: 50%;
    height: 500px;
  }
  @media (max-width: 1024px) {
    .boxOznamyCentrovanieSTextom {
      width: 90%;
    }
  }
  
  .boxOznamyScroll {
    /*background-color: rgba(41, 41, 41, 0.03);*/
    display: flex;
    flex-direction: column;

    gap: 10px;

    overflow-y:scroll;
    max-height: 88%;
    align-content: flex-start; /*aby to bolo hore?*/
  }
  @media (max-width: 1024px) {
    .boxOznamyScroll {
      max-height: 88%;

    }
  }

  .textNadpisOznam {
    font-size: 20px;
    color: #000;
    font-weight: 700;
    text-align: center;
    font-family: Open Sans, sans-serif;
  }