.App {
  place-items: center;
  width: 100%;

}

/**.podListami {
  position: absolute;
  display: flex; 
  justify-content: space-evenly;*/ /* Center the flex items (centered-div) horizontally */
  /*align-items: center;*/ /* Center the flex items (centered-div) vertically */
  /*width: 98vw;
  
  margin-inline-end: 3%;
  margin-inline-start: 3%;
  
}*/


.h3 {
  color: #000000;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem; /*16px*/
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


/*random pridanie komentu*/
